# Sentiment analysis of IMDB reviews
We will start by importing the necessary libraries

In [2]:
import tensorflow as tf

In [3]:
import tensorflow.keras as keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Importing the data files
After importing the necessary libraries now we will read the data files we have two data files here

In [28]:
imdb_reviews=pd.read_csv("imdb_reviews.csv")
test_reviews=pd.read_csv("test_reviews.csv")
imdb_reviews.count()
test_reviews.count()

Reviews      25000
Sentiment    25000
dtype: int64

first data file contains the imdb reviews and their corresponding sentiments which can be either positive or negative, we are going to use this file as our training data.

In [29]:
imdb_reviews.head()

                                             Reviews Sentiment
0  <START this film was just brilliant casting lo...  positive
1  <START big hair big boobs bad music and a gian...  negative
2  <START this has to be one of the worst films o...  negative
3  <START the <UNK> <UNK> at storytelling the tra...  positive
4  <START worst mistake of my life br br i picked...  negative

the second file is also similar to the first file but we are going to use it as the test data.

In [30]:
test_reviews.head()

                                             Reviews Sentiment
0  <START please give this one a miss br br <UNK>...  negative
1  <START this film requires a lot of patience be...  positive
2  <START many animation buffs consider <UNK> <UN...  positive
3  <START i generally love this type of movie how...  negative
4  <START like some other people wrote i'm a die ...  positive

# Preprocessing the data
We can not pass the string data to our model directly, so we need to transform the string data into integer format.For this we can map each distinct word as a distinct integer for eg.{'this':14 , 'the':1}.We already have a file that contains the mapping from words to integers so we are going to load that file.

In [31]:
word_index=pd.read_csv("word_indexes.csv")

The word index file contains mapping from words to integers.

In [32]:
word_index.head()

     Words  Indexes
0  tsukino    52009
1  nunnery    52010
2    sonja    16819
3     vani    63954
4    woods     1411

In [33]:
word_index.count()

Words      88582
Indexes    88584
dtype: int64

Next we are going to convert the word_index dataframe into a python dictionary so that we can use it for converting our reviews from string to integer format.

In [34]:
word_index=dict(zip(word_index.Words,word_index.Indexes))

In [35]:
word_index["<PAD>"]=0
word_index["<START"]=1
word_index["<UNK>"]=2
word_index["<UNUSED>"]=3

Now we define a function review_encoder that encodes the reviews into integer format according to the mapping specified by word_index file.

In [36]:
def review_encoder(text):
  arr=[word_index[word] for word in text]
  return arr

We split the reviews from their corresponding sentiments so that we can preprocess the reviews and sentiments separately and then later pass it to our model.

In [37]:
train_data,train_labels=imdb_reviews['Reviews'],imdb_reviews['Sentiment']
test_data, test_labels=test_reviews['Reviews'],test_reviews['Sentiment']

Before transforming the reviews as integers we need to tokenize or split the review on the basis of whitespaces
For eg.the string "The movie was wonderful" becomes ["The" , "movie" , "was" , "wonderful" ].

In [38]:
train_data=train_data.apply(lambda review:review.split())
test_data=test_data.apply(lambda review:review.split())

Since we have tokenized the reviews now we can apply the review_encoder function to each review and transform the reviews into integer format.

In [39]:
train_data=train_data.apply(review_encoder)
test_data=test_data.apply(review_encoder)

After transforming, our reviews are going to look like this.

In [40]:
train_data.head()

0    [1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, ...
1    [1, 194, 1153, 194, 8255, 78, 228, 5, 6, 1463,...
2    [1, 14, 47, 8, 30, 31, 7, 4, 249, 108, 7, 4, 5...
3    [1, 4, 2, 2, 33, 2804, 4, 2040, 432, 111, 153,...
4    [1, 249, 1323, 7, 61, 113, 10, 10, 13, 1637, 1...
Name: Reviews, dtype: object

We also need to encode the sentiments and we are labeling the positive sentiment as 1 and negative sentiment as 0.

In [41]:
def encode_sentiments(x):
  if x=='positive':
    return 1
  else:
    return 0

train_labels=train_labels.apply(encode_sentiments)
test_labels=test_labels.apply(encode_sentiments)

Before giving the review as an input to the model we need to perform following preprocessing steps:

 


*   The length of each review should be made equal for the model to be working correctly.

*  We have chosen the length of each review to be 500. 
*     If the review is longer than 500 words we are going to cut the extra part of the review.


*       If the review is contains less than 500 words we are going to pad the review with zeros to increase its length to 500.

In [42]:
train_data=keras.preprocessing.sequence.pad_sequences(train_data,value=word_index["<PAD>"],padding='post',maxlen=500)
test_data=keras.preprocessing.sequence.pad_sequences(test_data,value=word_index["<PAD>"],padding='post',maxlen=500)

#Building the model
Our model is a neural network and it consits of the following layers : 

1.   one word embedding layer which creates word embeddings of length 16 from integer encoded review.
2.  second layer is global average pooling layer which is used to prevent overfitting by reducing the number of parameters.

1.   then a dense layer which has 16 hidden units and uses relu as activation function
2.  the final layer is the output layer which uses sigmoid as activation function

In [43]:
model=keras.Sequential([keras.layers.Embedding(10000,16,input_length=500),
                        keras.layers.GlobalAveragePooling1D(),
                        keras.layers.Dense(16,activation='relu'),
                        keras.layers.Dense(1,activation='sigmoid')])

#compiling the model


1.   Adam is used as optimization function for our model.
2.   Binary cross entropy loss function is used as loss function for the model.

1.   Accuracy is used as the metric for evaluating the model.

In [44]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In the next step we are going to train the model on our downloaded IMDB dataset.

In [45]:
#training the model
history=model.fit(train_data,train_labels,epochs=30,batch_size=512,validation_data=(test_data,test_labels))

Epoch 1/30
49/49 [==============================] - 8s 88ms/step - loss: 0.6915 - accuracy: 0.5709 - val_loss: 0.6888 - val_accuracy: 0.6576
Epoch 2/30
49/49 [==============================] - 4s 78ms/step - loss: 0.6819 - accuracy: 0.6926 - val_loss: 0.6735 - val_accuracy: 0.7363
Epoch 3/30
49/49 [==============================] - 4s 76ms/step - loss: 0.6555 - accuracy: 0.7522 - val_loss: 0.6393 - val_accuracy: 0.7649
Epoch 4/30
49/49 [==============================] - 4s 76ms/step - loss: 0.6076 - accuracy: 0.7874 - val_loss: 0.5867 - val_accuracy: 0.7904
Epoch 5/30
49/49 [==============================] - 4s 77ms/step - loss: 0.5453 - accuracy: 0.8186 - val_loss: 0.5278 - val_accuracy: 0.8186
Epoch 6/30
49/49 [==============================] - 4s 75ms/step - loss: 0.4809 - accuracy: 0.8409 - val_loss: 0.4727 - val_accuracy: 0.8318
Epoch 7/30
49/49 [==============================] - 4s 78ms/step - loss: 0.4243 - accuracy: 0.8620 - val_loss: 0.4277 - val_accuracy: 0.8454
Epoch 8/30
49/49 [==============================] - 4s 77ms/step - loss: 0.3788 - accuracy: 0.8745 - val_loss: 0.3933 - val_accuracy: 0.8575
Epoch 9/30
49/49 [==============================] - 4s 76ms/step - loss: 0.3442 - accuracy: 0.8832 - val_loss: 0.3673 - val_accuracy: 0.8643
Epoch 10/30
49/49 [==============================] - 4s 76ms/step - loss: 0.3164 - accuracy: 0.8917 - val_loss: 0.3490 - val_accuracy: 0.8680
Epoch 11/30
49/49 [==============================] - 4s 75ms/step - loss: 0.2942 - accuracy: 0.8974 - val_loss: 0.3343 - val_accuracy: 0.8713
Epoch 12/30
49/49 [==============================] - 4s 73ms/step - loss: 0.2760 - accuracy: 0.9042 - val_loss: 0.3230 - val_accuracy: 0.8744
Epoch 13/30
49/49 [==============================] - 4s 76ms/step - loss: 0.2605 - accuracy: 0.9090 - val_loss: 0.3142 - val_accuracy: 0.8766
Epoch 14/30
49/49 [==============================] - 4s 76ms/step - loss: 0.2470 - accuracy: 0.9135 - val_loss: 0.3064 - val_accuracy: 0.8797
Epoch 15/30
49/49 [==============================] - 4s 75ms/step - loss: 0.2353 - accuracy: 0.9180 - val_loss: 0.3007 - val_accuracy: 0.8810
Epoch 16/30
49/49 [==============================] - 4s 77ms/step - loss: 0.2255 - accuracy: 0.9214 - val_loss: 0.2965 - val_accuracy: 0.8824
Epoch 17/30
49/49 [==============================] - 4s 76ms/step - loss: 0.2150 - accuracy: 0.9256 - val_loss: 0.2926 - val_accuracy: 0.8837
Epoch 18/30
49/49 [==============================] - 4s 75ms/step - loss: 0.2070 - accuracy: 0.9281 - val_loss: 0.2902 - val_accuracy: 0.8848
Epoch 19/30
49/49 [==============================] - 4s 75ms/step - loss: 0.1986 - accuracy: 0.9318 - val_loss: 0.2885 - val_accuracy: 0.8848
Epoch 20/30
49/49 [==============================] - 4s 73ms/step - loss: 0.1911 - accuracy: 0.9347 - val_loss: 0.2879 - val_accuracy: 0.8861
Epoch 21/30
49/49 [==============================] - 4s 76ms/step - loss: 0.1847 - accuracy: 0.9361 - val_loss: 0.2856 - val_accuracy: 0.8852
Epoch 22/30
49/49 [==============================] - 4s 76ms/step - loss: 0.1787 - accuracy: 0.9391 - val_loss: 0.2854 - val_accuracy: 0.8862
Epoch 23/30
49/49 [==============================] - 4s 76ms/step - loss: 0.1720 - accuracy: 0.9417 - val_loss: 0.2869 - val_accuracy: 0.8853
Epoch 24/30
49/49 [==============================] - 4s 75ms/step - loss: 0.1663 - accuracy: 0.9446 - val_loss: 0.2887 - val_accuracy: 0.8844
Epoch 25/30
49/49 [==============================] - 4s 78ms/step - loss: 0.1618 - accuracy: 0.9458 - val_loss: 0.2867 - val_accuracy: 0.8858
Epoch 26/30
49/49 [==============================] - 4s 75ms/step - loss: 0.1563 - accuracy: 0.9478 - val_loss: 0.2891 - val_accuracy: 0.8858
Epoch 27/30
49/49 [==============================] - 4s 76ms/step - loss: 0.1517 - accuracy: 0.9499 - val_loss: 0.2900 - val_accuracy: 0.8849
Epoch 28/30
49/49 [==============================] - 4s 76ms/step - loss: 0.1468 - accuracy: 0.9512 - val_loss: 0.2919 - val_accuracy: 0.8860
Epoch 29/30
49/49 [==============================] - 4s 76ms/step - loss: 0.1428 - accuracy: 0.9530 - val_loss: 0.2935 - val_accuracy: 0.8845
Epoch 30/30
49/49 [==============================] - 4s 75ms/step - loss: 0.1396 - accuracy: 0.9542 - val_loss: 0.2976 - val_accuracy: 0.8851

Now we will be evaluating the loss and accuracy of our model on testing data.

In [46]:
loss,accuracy=model.evaluate(test_data,test_labels)

782/782 [==============================] - 4s 5ms/step - loss: 0.2976 - accuracy: 0.8851

As we can see our model is giving an accuracy of 88.58% on the testing data.

Now we are going to take a random review from our test dataset and check wether our model produces correct output or not

In [55]:
index=np.random.randint(1,1000)
user_review=test_reviews.loc[index]
print(user_review)

Reviews      <START i seem to be <UNK> with a lot of folks ...
Sentiment                                             negative
Name: 878, dtype: object

As we can see the sentiment for the above review is positive, now we are going to take the integer format of this particular review which we already have in our preprocessed test data and then give it as an input to our model to check the prediction of our model.

In [56]:
user_review=test_data[index]
user_review=np.array([user_review])
if (model.predict(user_review)>0.5).astype("int32"):
  print("positive sentiment")
else:
  print("negative sentiment")

1/1 [==============================] - 0s 62ms/step
negative sentiment

As we can see our model is now able to predict the sentiment of the review.